@using ToDoListII.Models;

<!DOCTYPE html>
<html>
    <head>
        <title>ToDoListII</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>Your task list has been cleared.</h1>
            <p><a href="/items">Back to list view.</a></p>

        </div>
    </body>
</html>
